.mt-95 {
  margin-top: 30px !important;
}
.p-30 {
  padding: 30px;
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
    /* --framer-font-style: normal;
    --framer-font-weight: 700;
    --framer-letter-spacing: -2px;
    --framer-line-height: 1.2em;
    --framer-paragraph-spacing: 40px;
    --framer-text-alignment: start;
    --framer-text-color: var(--token-c32cb2fb-f5d0-4f2f-a424-978ac4dfff95, #323232);
    --framer-text-decoration: none;
    --framer-text-transform: none; */