:root {
  --color--oxfolrdblue--0300: #0a0d2d;
}

.background-body {
  margin: 0;
  /* height: 100vh; */
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: gradientShift 15s ease infinite;
  background: radial-gradient(ellipse at bottom, #0a2549 0, #02041a 100%);
  /* min-height: calc(100vh + 8rem); */
  -webkit-animation: AnimationName 29s ease infinite;
  -moz-animation: AnimationName 29s ease infinite;
  animation: AnimationName 29s ease infinite;
}
.custom-navbar {
  background-color: transparent !important;
}

.custom-text-style {
  color: #727272;
  font-family: "poppins", sans-serif;
}

.text-decoration {
  text-decoration: none !important;
}

.nav-item-flex-container {
  display: flex;
  gap: 38px;
}
