:root {
  --token-d439dfe7-64eb-46c1-94f6-6b30f3e4ab01: rgb(255, 255, 255);
  --color--oxfolrdblue--0200: #343651;
  --color--oxfolrdblue--050: #e7e7ea;
}

.resume-card-container {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  background-color: var(--color--oxfolrdblue--0200);
  color: var(--color--oxfolrdblue--050);
  border-radius: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  display: flex;
}
